*{
margin:0;
padding:0;
box-sizing:border-box;
}


body{

width:100vw;
height:100vh;

overflow:hidden;

background:linear-gradient(
#35c9ff,
#dfffff
);

font-family:Arial;

position:relative;

}



#scor,
#record{

position:absolute;

left:20px;

color:white;

font-weight:bold;

text-shadow:3px 3px 5px black;

z-index:50;

}


#scor{

top:20px;

font-size:30px;

}


#record{

top:60px;

font-size:25px;

}





#shaorma{

position:absolute;

width:140px;

left:120px;

top:50%;

filter:drop-shadow(0 0 15px orange);

z-index:10;

}





#obstacol{

position:absolute;

width:120px;

left:100%;

top:250px;

filter:drop-shadow(0 0 15px red);

z-index:9;

}





#ingredient{

position:absolute;

width:55px;

display:none;

z-index:8;

}





#start{

position:absolute;

top:50%;
left:50%;

transform:translate(-50%,-50%);

padding:20px 45px;

font-size:28px;

background:linear-gradient(
orange,
red
);

color:white;

border:0;

border-radius:20px;

z-index:100;

}





#boostBar{

position:absolute;

width:170px;

height:18px;

background:#222;

border:3px solid white;

border-radius:20px;

display:none;

overflow:hidden;

z-index:60;

}



#boostProgress{

height:100%;

width:100%;

background:linear-gradient(
yellow,
red
);

}



.boost{

filter:
drop-shadow(0 0 25px red)
drop-shadow(0 0 35px orange);

}



.ia-ingredient{

animation:sarit 0.2s;

}



@keyframes sarit{

50%{

transform:scale(1.3) rotate(15deg);

}

}



.particula{

position:absolute;

width:12px;

height:12px;

border-radius:50%;

z-index:200;

}
