body{

margin:0;

overflow:hidden;

height:100vh;

background:#63c8ff;

}


#joc{

width:100%;

height:100vh;

background:linear-gradient(
#63c8ff,
#ffffff
);

overflow:hidden;

}



#shaorma{

position:absolute;

width:180px;

left:200px;

top:300px;

}
