*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html,body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family:Arial,sans-serif;
    background:#58c8ff;
}

#game{
    position:relative;
    width:100vw;
    height:100vh;
    overflow:hidden;
    background:linear-gradient(
        #58c8ff 0%,
        #8ee2ff 45%,
        #dff8ff 100%
    );
}

/* fundal */

#background{
    position:absolute;
    inset:0;
    z-index:0;
}

/* HUD */

#hud{
    position:absolute;
    top:20px;
    left:20px;
    z-index:100;
    color:white;
    text-shadow:2px 2px 5px black;
}

#score{
    font-size:32px;
    font-weight:bold;
}

#record{
    margin-top:10px;
    font-size:24px;
    font-weight:bold;
}

/* boost */

#boostBar{

    position:absolute;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:280px;

    height:22px;

    border-radius:20px;

    overflow:hidden;

    background:#222;

    border:3px solid white;

    display:none;

    z-index:100;

}

#boostFill{

    width:100%;

    height:100%;

    background:linear-gradient(
        90deg,
        yellow,
        orange,
        red
    );

}

/* shaorma */

#shaorma{

    position:absolute;

    left:120px;

    top:50%;

    width:140px;

    transform:translateY(-50%);

    z-index:10;

    user-select:none;

    pointer-events:none;

}

/* drona */

#drone{

    position:absolute;

    right:-150px;

    top:250px;

    width:120px;

    z-index:9;

    user-select:none;

    pointer-events:none;

}

/* ingredient */

#ingredient{

    position:absolute;

    width:55px;

    display:none;

    z-index:8;

    user-select:none;

    pointer-events:none;

}

/* buton */

#startButton{

    position:absolute;

    top:50%;

    left:50%;

    transform:translate(-50%,-50%);

    padding:18px 40px;

    border:none;

    border-radius:18px;

    font-size:30px;

    font-weight:bold;

    cursor:pointer;

    color:white;

    background:linear-gradient(
        orange,
        red
    );

    box-shadow:0 10px 30px rgba(0,0,0,.4);

    z-index:200;

}

#startButton:hover{

    transform:translate(-50%,-50%) scale(1.05);

}

.hidden{

    display:none !important;

}
